<div class="{{product}}"> 
    <div class="image">
        <img src={{image}} alt="">
    </div>
    <div class="info">
        <h3>{{name}}</h3>
        <div class="subinfo">
          <strong class="price">{{sale}} <span> {{srp}}</span> </strong>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
          </div>
        </div>
    </div>
</div>    